@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.heading, .container-bottom-info__list li, .container-bottom-info__link, .bottom__info-suptitle p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background: #e8e8e8;
}

.container {
  max-width: 841px;
  margin: 0 auto;
  padding: 168px 0 137px 0;
}

.heading {
  color: #273d46;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  padding: 0 45px;
}

.container__bottom {
  padding: 0 45px;
}

/* Стилизация списка ========== */
.container-bottom-info__list {
  position: relative;
  margin-bottom: 59px;
}

.container-bottom-info__list li {
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 35px;
  color: #273d46;
}

.container-bottom-info__list li::before {
  content: url("/img/icons/check.png");
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.container-bottom-info__list li:last-child {
  margin: 0;
}

.container-bottom-info__list li:nth-child(1) {
  text-decoration: line-through;
}

.container-bottom-info__list li:nth-child(2) {
  font-weight: 700;
}

.container-bottom-info__list li:nth-child(3) {
  font-style: italic;
}

.container-bottom-info__list li:nth-child(4) {
  text-transform: uppercase;
}

/*Стилизация списка при наведении ==========*/
.container-bottom-info__list li:first-child:hover {
  text-decoration: none;
}

.container-bottom-info__list li:nth-child(2):hover {
  color: #d55a5a;
  font-weight: 400;
  background: url("/img/icons/check_icon.png") left no-repeat;
}

.container-bottom-info__list li:nth-child(2):hover::before {
  content: none;
}

.container-bottom-info__list li:nth-child(3):hover {
  font-style: normal;
}

.container-bottom-info__list li:last-child:hover {
  text-transform: none;
}

/* Стилизация кнопки ========== */
.container-bottom-info__link {
  height: 44px;
  display: inline-block;
  line-height: 44px;
  padding: 0 30px;
  border-radius: 24px;
  background-color: #4cb8b0;
  color: #fff;
  -webkit-box-shadow: 2px 4px 20px 6px #aed4d2;
  box-shadow: 2px 4px 20px 6px #aed4d2;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 100px;
  position: relative;
}

.container-bottom-info__link span {
  padding-right: 30px;
}

.container-bottom-info__link span:after {
  content: url(/img/icons/arrow.svg);
  position: absolute;
  left: 153px;
  top: 5%;
  display: inline-block;
}

.container-bottom-info__link:hover {
  background-color: #3a5856;
  -webkit-box-shadow: 2px 4px 20px 6px rgba(58, 88, 86, 0.3);
  box-shadow: 2px 4px 20px 6px rgba(58, 88, 86, 0.3);
}

.container-bottom-info__link:active {
  position: relative;
  top: 3px;
  background-color: #818181;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*Стилизация формы ===================*/
.bottom__info-text {
  height: 50px;
  width: 290px;
  border: 1px solid #b0b0b0;
  padding-left: 20px;
}

.bottom__info-text:focus {
  border: 1px solid #7fbed5;
  -webkit-box-shadow: 1px 1px 15px 7px #aed4d2;
  box-shadow: 1px 1px 15px 7px #aed4d2;
}

.bottom__info {
  margin-bottom: 50px;
}

/* стили абзацев ================ */
.bottom__info-suptitle p {
  font-size: 16px;
  line-height: 26px;
  padding-left: 45px;
  margin-bottom: 30px;
}

.bottom__info-suptitle-first::first-line {
  color: #6303b1;
  font-weight: 700;
}

.bottom__info-suptitle-second::first-letter {
  color: #e00000;
  font-size: 27px;
  font-weight: 700;
}
